[submodule "VtkToUnityExample/Assets/vtktounitybinary"]
	path = VtkToUnityExample/Assets/VtkToUnity/vtktounitybinary
	url = https://github.com/EnlitHamster/VtkUnityWorkbenchBinaries.git
	branch = main
[submodule "VtkToUnityPlugin"]
	path = VtkToUnityPlugin
	url = https://github.com/EnlitHamster/VtkUnityWorkbenchPlugin.git
	branch = main
[submodule "VtkToUnityExample/Assets/VtkToUnity/VtkToUnityAssets"]
	path = VtkToUnityExample/Assets/VtkToUnity/VtkToUnityAssets
	url = https://github.com/EnlitHamster/VtkUnityWorkbenchAssets.git
	branch = main
